@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

html {
  font-family: 'Spectral SC', serif;   
  color: #39FF14;
  background: url(./IMG/web_background_2.jpg) no-repeat center center fixed;  
  font-size: 18px;
  }
body {
  margin: 0px;
}
div {
    margin-left: 10%;
    margin-right: 10%;
}
header {
  background-color: black;
  height: 60px;
}
nav {
  background-image: url(./IMG/Cowbells_Logo.png);
  background-position: left; 
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10%;
  text-align: right;
  padding: 14px;
  margin-right: 8%;
}
nav a {
  color: #39FF14;
  margin: 5px;
  text-decoration: none;
}
a[href]:hover {
  color: #168C00;
}
a[href]:active {
  color: white;
}
h1 {
  font-size: 2.8em;
  padding-top: 3%;
}
#title {
  color: whitesmoke;
  font-size: 1.7em;
}
p, dl {
  font-family: 'consolas', courier;
}
#threedash {
  padding: 1%;
  text-align: center;
  font-size: 2.8em;
}
h2 {
  text-align: center;
  font-size: 2.4em;
  padding: 1em;
}
h3 {
  font-size: 1.7em;
  padding: 0.8em;
}
dt {
  font-weight: bold;
  padding: 4px;
  text-decoration: underline; 
}
dd {
  padding: 4px;
}




